### Scraped data ###
database/CarrefourdleScraper/images
database/CarrefourdleScraper/*.json

### Secrets & Configuration ###
.env
.env.local
.env.*.local
application.properties
application-*.properties
!application-common.properties
.editorconfig
.notes

### Java & Maven ###
target/
*.class
*.jar
*.war
*.ear
*.log

### Angular ###
frontend/CarrefourdleFrontend/.angular
frontend/CarrefourdleFrontend/node_modules
frontend/CarrefourdleFrontend/dist
frontend/CarrefourdleFrontend/tmp

### Spring ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/
**/.mvn/wrapper/maven-wrapper.properties
**/.mvn/wrapper/maven-wrapper.jar

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/