<div class="card-container w-full my-2 p-6 flex rounded-xl items-center justify-center h-64" *ngIf="isProductLoading() && !product()">
    <p class="animate-pulse text-center">Ładowanie produktu...</p>
</div>

<div class="card-container w-full my-2 p-6 flex rounded-xl items-center justify-center h-64" *ngIf="!isProductLoading() && !product()">
    <p class="text-red-600 font-bold text-center">Nieudane połączenie z serwerem, spróbuj ponownie za 90 sekund...</p>
</div>

<div class="card-container w-full my-2 rounded-xl text-lg font-semibold shadow-md" *ngIf="!isProductLoading() && product() as currentProduct">
    <div class="image-box relative p-6 pb-0 rounded-xl flex items-center justify-center">
        <img [src]="currentProduct.image_url" [alt]="currentProduct.name" class="w-full h-full object-contain rounded-xl">
    </div>
    
    <div class="image-box relative p-6 pt-4 rounded-xl flex items-center justify-center">
        <h2 class="m-0 text-center">{{ currentProduct.name }}</h2>
    </div>
</div>